* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;   
    font-family: 'Prompt', Comic sans;

}

.container {
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}



/*PERFIL*/

.perfil h1 {
    color: var(--white);
}

.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}

#fecha {
    color: var(--white);
    padding: 50px 0 5px 0px;

}
/*Espacio Inicial*/

.buscador {
    background-color: var(--diabled) ;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 30px 0;
}



/* Boton */

.btn {
    background: #eb94d0;

    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}
.btn:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
  }
/* Formulario */

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  